<section class="gitment" id="comments">
	<link rel="stylesheet" href="/css/comments.css">
	<script src="/js/gitment.browser.js"></script>
	<script>
		var gitment = new Gitment({
		  id: '<%= page.date %>',
		  owner: 'zbluephoenix',
		  repo: 'zbluephoenix.github.io',
		  oauth: {
		    client_id: '96dcfc4f0c9b14bd36c2',
		    client_secret: 'b1b56e13951594792d332bd4a1b842ef351411ee',
		  },
		})
		gitment.render('comments')
	</script>
</section>